<div class="row" style="margin-top:1rem; margin-bottom:0.5rem;">
  <div class="large-6 columns"></div>
  <div class="large-6 columns">
    <form ng-submit="vm.login()">
      <div class="row">
        <div class="large-4 columns">
          <input type="text" placeholder="Username" ng-model="vm.credentials.username" class="no-margins">
        </div>
        <div class="large-4 columns">
          <input type="password" placeholder="Password" ng-model="vm.credentials.password" class="no-margins">
        </div>
        <div class="large-4 columns">
          <button class="tiny small radius no-margins" type="submit">Log In</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row" style="margin-bottom:2rem;">
  <div class="large-6 columns"></div>
  <div class="large-6 columns">
    <div class="large-8 columns">
      <span class="right gray-light text0p8rem">Forgot username or password?</span>
    </div>
    <div class="large-4 columns">
      <a class="text0p8rem" style="display:block;">Recover Account</a>
    </div>
  </div>
</div>
<div class="image-login">
  <div style="display:table-cell; vertical-align:middle;">
    <h1 class="roboto-light text3p5rem" style="color:white;">Let the professionals do<br>the job</h1>
    <button class="radius no-margins roboto-light text1p5rem" style="padding:0.6rem; background-color: #3A9C28;">Sign up for free</button>
  </div>
</div>
<div style="margin-top: 2rem;" class="textCenter">
  <h1 class="roboto-light gray-dark">How It Works</h1>
</div>
<div class="row" style="margin-top:2rem;">
  <div class="large-3 medium-6 small-12 columns textCenter">
    <span class="fa-stack fa-lg text3p5rem">
      <i class="fa fa-circle green fa-stack-2x"></i>
      <i class="fa fa-bullhorn fa-stack-1x white"></i>
    </span><br>
    <span class="roboto-thin gray-light text1p6rem">Post A Job</span><br>
    <span class="text1p2rem gray-dark">Describe the issue or new stuff you need help with. Upload pictures as well.</span>
  </div>
  <div class="large-3 medium-6 small-12 columns textCenter">
    <span class="fa-stack fa-lg text3p5rem">
      <i class="fa fa-circle green fa-stack-2x"></i>
      <i class="fa fa-comments white"></i>
    </span><br>
    <span class="roboto-thin gray-light text1p6rem">Get Quotes</span><br>
    <span class="text1p2rem gray-dark">Compare quotes and work time estimations.</span>
  </div>
  <div class="large-3 medium-6 small-12 columns textCenter">
    <span class="fa-stack fa-lg text3p5rem">
      <i class="fa fa-circle green fa-stack-2x"></i>
      <i class="fa fa-hand-o-up fa-stack-1x white"></i>
    </span><br>
    <span class="roboto-thin gray-light text1p6rem">Get Your Job Done</span><br>
    <span class="text1p2rem gray-dark">Pick a handyman or company. Get in contact and get your job done.</span>
  </div>
  <div class="large-3 medium-6 small-12 columns textCenter">
    <span class="fa-stack fa-lg text3p5rem">
      <i class="fa fa-circle green fa-stack-2x"></i>
      <i class="fa fa-thumbs-up fa-stack-1x white"></i>
    </span><br>
    <span class="roboto-thin gray-light text1p6rem">Write A Review</span><br>
    <span class="text1p2rem gray-dark">Rate your experience and work quality.</span>
  </div>
</div>