<div class="row">
  <div class="large-6 columns"></div>
  <div class="large-6 columns">
    <form ng-submit="vm.login()">
      <div class="row">
        <div class="large-4 columns">
          <input type="text" placeholder="Username" ng-model="vm.credentials.username">
          <span class="roboto">Not a member yet?</span>
        </div>
        <div class="large-4 columns">
          <input type="password" placeholder="Password" ng-model="vm.credentials.password">
          <a href="" class="roboto">Sign up!</a>
        </div>
        <div class="large-4 columns">
          <button class="tiny small radius" type="submit">Log In</button>
        </div>
      </div>
    </form>
  </div>
</div>