<!doctype html>
<html class="no-js" lang="en" ng-app="jobsApp">
  <head>
    <meta charset="utf-8"s/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link rel="stylesheet" href="/bower_components/foundation/css/foundation.css" />
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,300,700,300italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
  </head>
  <body>
    <div ng-controller="MainCtrl as vm">
      <ng-view></ng-view>      
    </div>
    <script src="/javascripts/app.min.js"></script>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>