body {
  font-family: 'Roboto', sans-serif;
}

/* App official font*/
.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.roboto-thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

/* App official font*/
/* General forms*/
input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem !important;
}

input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem !important;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"], textarea {
  border-color: #808080;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  border-radius: 3px !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem !important;
}

button[type="submit"] {
  background-color: #4BC538;
  font-size: 1rem;
  padding: 0.6rem;
}

/* General forms*/
.no-margins {
  margin: 0rem !important;
}

a {
  color: #2692FF !important;
}

/* Text settings */
.text0p8rem {
  font-size: 0.8rem;
}

.text3p5rem {
  font-size: 3.5rem;
}

.text1p5rem {
  font-size: 1.5rem;
}

.text1p6rem {
  font-size: 1.6rem;
}

.text1p7rem {
  font-size: 1.7rem;
}

.text1p2rem {
  font-size: 1.2rem;
}

.textCenter {
  text-align: center;
}

.fa-6x {
  font-size: 6em;
}

.gray-light {
  color: #808080;
}

.gray-dark {
  color: #464646;
}

.blue-ocean {
  color: #2D678E;
}

.green {
  color: #62A14D;
}

.white {
  color: white;
}

/* Text settings */
.image-login {
  height: 620px;
  background-image: url("/images/login/login-carpenter.png");
  text-align: center;
  display: table;
  width: 100%;
}
